*{
    scroll-padding-top: 225px;
  }
.main{
  align-items: center;
}
.title{
  text-align: center;
}
h2{
  font-size: 4rem;
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: "League Spartan"
}
p{
  font-size: 1.5rem;
  padding-bottom: 50px;
}
.outer{
  padding: 5px;
  background-color: #FF9F9F;
  border-radius: 15px;
}
body{
  background-color: #A5F1E9;

}
.card{
  border-radius: 10px;
 }

 button{
  all:unset;
  padding: 10px;
 }

 .card.inner:hover{
  background-color: whitesmoke;
 }