*{
    scroll-padding-top: 225px;
  }

.input-group{
    width: 150px;
    height: 70px;
    margin-right:  40px;
    font-family: "League Spartan";
    color: rgb(170, 18, 18);
    font-size: 20;
    padding-bottom: 30px;
    border-radius: 10px;
}

.container{
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.4);
    padding-top: 30px;
    background-color: #F2DEBA
}

.input{
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
    margin:8px;
    border-radius: 10px;
    background-color: antiquewhite;
}

.button{
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(0, 89, 255, 0.734);
}
body{
    margin-top: 30px;
}
.h1-title{
  text-align: center;
  font-family: "League Spartan"
}
.button{
  color: white
}
#username{
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}
#password{
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}
#dob{
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}
#height{
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}
#weight{
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}
#name{
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}
#quali{
        border-radius: 10px;
    }

